<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="searchFragment">
		<form th:action="@{/goods/goodsList}" method="get">
			<select name="searchKey">
				<option value="goodsCode">상품코드</option>
				<option value="goodsName">상품이름</option>
				<option value="goodsPrice">상품가격</option>
				<option value="goodsRegDate">판매자아이디</option>				
			</select>
			<input type="text" name="searchValue" placeholder="검색어를 입력해주세요">
			<button type="submit">검색</button>
		</form>		
	</div>
</html>















