<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
</head>
<th:block layout:fragment="customJs">
<script th:src="@{/js/jquery-3.6.4.js}"></script>
	<script>
		$(document).ready(function () {
			$('#submitBtn').click(function () {
				$('#deleteMemberForm').submit();
			});
		});
		$(document).ready(function () {
			$('#resetBtn').click(function () {
				location.href = '/member/memberList';
				history.go(-1);
			});
		});
	</script>
</th:block>
<th:block layout:fragment="customContents">
	<form id="deleteMemberForm" th:action="@{/member/deleteMember}" method="post">
		<div th:if="${errorMessage != null}" class="error-message" th:text="${errorMessage}"></div>
		<table>
			<tbody>
				<tr>
					<td class="labeltd">
						<label for="memberId">회원아이디</label>
					</td>
					<td>
						<input type="hidden" id="memberId"
							   name="memberId" placeholder="회원아이디를 입력해주세요." th:value="${memberId}" readonly="readonly">
					</td>
				</tr>
				<tr>
					<td class="labeltd">
						<label for="memberPw">회원비밀번호</label>
					</td>
					<td colspan="2">
						<input type="text" id="memberPw" 
							   name="memberPw" placeholder="회원비밀번호를 입력해주세요."/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="button" id="submitBtn">회원탈퇴</button>
						<button type="button" id="resetBtn">입력취소</button>
					</td>
				</tr>								
			</tbody>
		</table>
	</form>
			
</th:block>

</html>